.root {
    -fx-focus-color: #c7b01c; /*El color de cuando tocas algún objeto, obtiene este color a su alrededor*/
    -fx-base: #010409; /*El color de base, es decir, el que tienen todos los contenedores*/
    -fx-control-inner-background: derive(-fx-base, 50%); /*El color de fondo de los objetos*/

}

